<!--    modal-->
<div class="modal fade bd-example-modal-lg" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel" style="font-weight:400">Câu hỏi:</h4>
            </div>
            <form class="form-horizontal form-material">
                <div class="modal-body" style="font-weight: 400">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 ml-auto">
                                <div class="form-group">
                                    <p id="cauhoi">

                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-12" id="daa">A</label>
                                    <div class="col-md-12" id="nda">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-12" id="dab">B</label>
                                    <div class="col-md-12" id="ndb">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-12" id="dac">C</label>
                                    <div class="col-md-12" id="ndc">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-md-12" id="dad">D</label>
                                    <div class="col-md-12" id="ndd">
                                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger text-right" data-dismiss="modal">Thoát</button>
                </div>
            </form>
        </div>
    </div>
</div>