<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layout/head %>
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header>
            <% include ../layout/header %>
        </header>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Phản hồi</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Trang Chủ</a>
                            </li>
                            <li class="active">Phản hồi</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg">
                                <img width="100%" alt="user" src="../plugins/images/large/img1.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)">
                                            <img src="../plugins/images/users/varun.jpg" class="thumb-lg img-circle" alt="img">
                                        </a>
                                        <h4 class="text-white">Vo Hoai Phong</h4>
                                        <h5 class="text-white">info@myadmin.com</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <div class="col-md-12 col-sm-4 text-center">
                                    <p class="text-purple">
                                        <i class="ti-facebook"></i>
                                    </p>
                                    <h3>Chức Danh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form method="post" action="sendmail" class="form-horizontal form-material" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label class="col-md-12">Họ và Tên</label>
                                    <div class="col-md-12">
                                        <input type="text" name="hoten" placeholder="Họ và tên" class="form-control form-control-line" required> </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" name="email" placeholder="email" class="form-control form-control-line" name="example-email" id="example-email" required> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="example-content">Nội dung</label>
                                    <div class="col-md-12">
                                        <textarea placeholder="Nhập" name="noidung" class="form-control form-control-line" name="example-content" rows="8" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-info">Gửi phản hồi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <footer>
        <% include ../layout/footer %>
    </footer>
</body>

</html>