<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layout/head %>
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header>
            <% include ../layout/header %>
        </header>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Trang Chủ</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="index">Trang Chủ</a>
                            </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="overlay-box">
                            <div class="panel panel-info">
                                <div class="panel-heading thi-heading" style="font-size: 1.5em; font-weight: bold;">MobiFone</div>
                                <div class="panel-body about">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="home">Giới thiệu</a>
                                        </li>
                                        <li>
                                            <a href="home-2">Hợp tác MobiFone</a>
                                        </li>
                                    </ul>
                                    <div class="space20">&nbsp;</div>
                                    <div class="clearfix"></div>
                                    <div class="container-fluid">
                                        <img src="../plugins/images/users/A-Mobifone.jpg" alt="MobiFone" style="height:500px; width:100%;">
                                    </div>
                                    <div class="container-fluid">
                                        <p>MobiFone được thành lập ngày 16/04/1993 với tên gọi ban đầu là Công ty thông tin
                                            di động. Ngày 01/12/2014, Công ty được chuyển đổi thành Tổng công ty Viễn thông
                                            MobiFone, trực thuộc Bộ Thông tin và Truyền thông, kinh doanh trong các lĩnh
                                            vực: dịch vụ viễn thông truyền thống, VAS, Data, Internet & truyền hình IPTV/cable
                                            TV, sản phẩm khách hàng doanh nghiệp, dịch vụ công nghệ thông tin, bán lẻ và
                                            phân phối và đầu tư nước ngoài.
                                        </p>
                                        <p>Tại Việt Nam, MobiFone là một trong ba mạng di động lớn nhất với hơn 30% thị phần.
                                            Chúng tôi cũng là nhà cung cấp mạng thông tin di động đầu tiên và duy nhất tại
                                            Việt Nam được bình chọn là thương hiệu được khách hàng yêu thích trong 6 năm
                                            liền.
                                        </p>
                                        <p>Hiện nay, MobiFone có gần 50 triệu thuê bao với gần 30.000 trạm 2G và 20.000 trạm
                                            3G. Tổng doanh thu năm 2017 của MobiFone đạt xấp xỉ 2 tỷ đô la Mỹ. 1993: Thành
                                            lập Công ty Thông tin di động. Giám đốc công ty Ông Đinh Văn Phước 1994: Thành
                                            lập Trung tâm Thông tin di động Khu vực I & II 1995: Công ty Thông tin di động
                                            ký Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik (Thụy Điển)
                                            Thành lập Trung tâm Thông tin di động Khu vực III 2005: Công ty Thông tin di
                                            động ký thanh lý Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik.
                                            Nhà nước và Bộ Bưu chính Viễn thông (nay là Bộ Thông tin và Truyền thông) có
                                            quyết định chính thức về việc cổ phần hoá Công ty Thông tin di động. Ông Lê Ngọc
                                            Minh lên làm Giám đốc Công ty Thông tin di động thay Ông Đinh Văn Phước (về nghỉ
                                            hưu) 2006: Thành lập Trung tâm thông tin di động Khu vực IV 2008: Thành lập Trung
                                            tâm thông tin di động Khu vực V.</p>

                                        <p>Kỷ niệm 15 năm thành lập Công ty thông tin di động. Thành lập Trung tâm Dịch vụ Giá
                                            trị Gia tăng. Tính đến tháng 04/2008, MobiFone đang chiếm lĩnh vị trí số 1 về
                                            thị phần thuê bao di động tại Việt Nam. 2009: Nhận giải Mạng di động xuất sắc
                                            nhất năm 2008 do Bộ Thông tin và Truyền thông trao tặng; VMS - MobiFone chính
                                            thức cung cấp dịch vụ 3G; Thành lập Trung tâm Tính cước và Thanh khoản. 2010:
                                            Chuyển đổi thành Công ty TNHH 1 thành viên do Nhà nước làm chủ sở hữu. 2013:
                                            Kỷ niệm 20 năm thành lập Công ty Thông tin di động và đón nhận Huân chương Độc
                                            lập Hạng Ba MobiFone là nhà cung cấp mạng thông tin di động đầu tiên và duy nhất
                                            tại Việt Nam (2005-2008) được khách hàng yêu mến, bình chọn cho giải thưởng mạng
                                            thông tin di động tốt nhất trong năm tại Lễ trao giải Vietnam Mobile Awards do
                                            tạp chí Echip Mobile tổ chức.
                                        </p>

                                        <p>Đặc biệt trong năm 2009, MobiFone vinh dự nhận giải thưởng Mạng di động xuất sắc
                                            nhất năm 2008 do Bộ thông tin và Truyền thông Việt nam trao tặng. 2014: Ngày
                                            26/06: Ông Mai Văn Bình được bổ nhiệm phụ trách chức vụ Chủ tịch Công ty Thông
                                            tin di động. Ngày 10/07: Bàn giao quyền đại diện chủ sở hữu Nhà nước tại Công
                                            ty VMS từ Tập đoàn VNPT về Bộ TT&TT.</p>

                                        <p>Ngày 13/08: Ông Lê Nam Trà được bổ nhiệm chức vụ Tổng Giám đốc Công ty Thông tin
                                            di động. Ngày 01/12: Nhận quyết định thành lập Tổng công ty Viễn Thông MobiFone
                                            trên cơ sở tổ chức lại Công ty TNHH một thành viên Thông tin di động. 2015: Ngày
                                            21/04: Ông Lê Nam Trà được bổ nhiệm chức vụ Chủ tịch Hội đồng thành viên. Ông
                                            Cao Duy Hải được bổ nhiệm chức vụ Tổng Giám đốc Tổng công ty Viễn thông MobiFone.
                                            2017: Ngày 15/08: Ông Nguyễn Mạnh Thắng được bổ nhiệm giữ chức vụ Chủ tịch Hội
                                            đồng thành viên Tổng công ty Viễn thông MobiFone.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <footer>
        <% include ../layout/footer %>
    </footer>
</body>

</html>