<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layout/head %>
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header>
            <% include ../layout/header %>
        </header>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Trang Chủ</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="index-2">Trang Chủ</a>
                            </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="overlay-box">
                            <div class="panel panel-info">
                                <div class="panel-heading thi-heading" style="font-size: 1.5em; font-weight: bold;">MobiFone</div>
                                <div class="panel-body about">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a href="home">Giới thiệu</a>
                                        </li>
                                        <li class="active">
                                            <a href="home-2">Hợp tác MobiFone</a>
                                        </li>
                                    </ul>
                                    <div class="space20">&nbsp;</div>
                                    <div class="container-fluid content-home">
                                        <i class="fa fa-cube" aria-hidden="true"></i> Các lĩnh vực Tổng công ty viễn thông MobiFone đang quan tâm:
                                        <ul>
                                            <li>Lĩnh vực M2M/IoT</li>
                                            <li>Lĩnh vực OTT TV</li>
                                            <li>Lĩnh vực thanh toán điện tử</li>
                                            <li>Lĩnh vực quảng cáo trên di động</li>
                                            <li>Lĩnh vực tài chính bảo hiểm</li>
                                            <li>Lĩnh vực trò chơi trên di động</li>
                                        </ul>
                                        <div class="space20">&nbsp;</div>
                                        <i class="fa fa-cube" aria-hidden="true"></i> Nguyên tắc hợp tác:
                                        <ul>
                                            <li>MobiFone khuyến khích hợp tác cung cấp các dịch vụ chưa được cung cấp trên mạng
                                                MobiFone.
                                            </li>
                                            <li>Đối với các dịch vụ đã được cung cấp trên mạng MobiFone, đối tác cần làm rõ sự
                                                vượt trội của dịch vụ mới so với dịch vụ đã được cung cấp.</li>
                                        </ul>
                                        <div class="space20">&nbsp;</div>
                                        <i class="fa fa-cube" aria-hidden="true"></i> Yêu cầu với đối tác của MobiFone:
                                        <ul>
                                            <li>Giấy phép kinh doanh</li>
                                            <li>Năng lực tài chính</li>
                                            <li>Bản quyền nội dung số, bản quyền giải pháp</li>
                                            <li>Kinh nghiệm cung cấp nội dung số</li>
                                            <li>Kiến trúc hệ thống và mô hình kết nối kĩ thuật</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2018 </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <footer>
        <% include ../layout/footer %>
    </footer>
</body>

</html>