<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>hello</p>
        <h1>Hello World!</h1>
        <div id="future"></div>
        <form id="form" id="chat_form">
            <input id="chat_input" type="text">
            <input type="submit" value="Send">
        </form>
         <script src="/jquery/dist/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
</body>
<script>  
var socket = io.connect('http://192.168.1.11:3000');
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 }); 
 
</script>  
</html>