<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="fix-header">
  <main>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Kết Quả Kỳ Thi</h4> </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="index">Trang Chủ</a></li>
              <li><a href="ketquakythi">Kỳ Thi: XXX</a></li>
              <li class="active">Kết Quả</li>
            </ol>
          </div>
          <!-- /.col-lg-12 -->
        </div>

          <div class="row">
            <div class="col-md-12">
              <div class="white-box">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên nhân viên</th>
                        <th>Số lượng câu hỏi</th>
                        <th>Thời gian</th>
                        <th>Số câu đúng</th>
                        <th>Số câu sai</th>
                        <th>Điểm số</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Deshmukh Deshmukh Deshmukh </td>
                        <td>121</td>
                        <td>10:10</td>
                        <td>12</td>
                        <td>1</td>
                        <td class="colordelete">2.3</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Deshmukh Deshmukh Deshmukh </td>
                        <td>121</td>
                        <td>10:10</td>
                        <td>12</td>
                        <td>1</td>
                        <td class="colordelete">2.3</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Deshmukh Deshmukh Deshmukh </td>
                        <td>121</td>
                        <td>10:10</td>
                        <td>12</td>
                        <td>1</td>
                        <td class="colordelete">2.3</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Deshmukh Deshmukh Deshmukh </td>
                        <td>121</td>
                        <td>10:10</td>
                        <td>12</td>
                        <td>1</td>
                        <td class="colordelete">2.3</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Deshmukh Deshmukh Deshmukh </td>
                        <td>121</td>
                        <td>10:10</td>
                        <td>12</td>
                        <td>1</td>
                        <td class="colordelete">2.3</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Deshmukh Deshmukh Deshmukh </td>
                        <td>121</td>
                        <td>10:10</td>
                        <td>12</td>
                        <td>1</td>
                        <td class="colordelete">2.3</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

      </div>
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- star modal  -->
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> %>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
            <h4 class="modal-title" id="exampleModalLabel">Nhân Viên: XXX</h4>
          </div>
          <form class="form-horizontal form-material" action="" method="">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 ml-auto">
                    <div class="form-group">
                      <textarea class="form-control" id="textarea" rows="8">Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần. Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần. Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần.</textarea>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">A&nbsp;&nbsp;<i class="fa  fa-check fa-fw" aria-hidden="true"></i></label>
                      <div class="col-md-12">
                        <input type="text" id="A" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="example-email" class="col-md-12">B</label>
                      <div class="col-md-12">
                        <input type="text" id="B" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">C</label>
                      <div class="col-md-12">
                        <input type="text" id="C" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">D</label>
                      <div class="col-md-12">
                        <input type="text" id="D" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Thoát</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end modal  -->

  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
