<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="fix-header">
  <main>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title"></h4>
          </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="index">Trang Chủ</a></li>
              <li><a href="nganhangcauhoichude">Ngân Hàng Câu Hỏi</a></li>
              <li class="active">Chủ Đề</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="white-box">
              <div class="table-responsive">
                <table class="search table table-hover" id="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th> Câu Hỏi</th>
                      <th colspan="3" data-toggle="modal" class="right text-right" data-target="#themcauhoi">
                        <button type="button" class=" btn btn-info">Thêm Câu Hỏi</button>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <!-- <tr>
                      <td><b>1</b></td>
                      <td colspan="2" onclick="undisableTxt()" data-toggle="modal" data-target="#exampleModal">Anh/Chị được </td>
                    </tr> -->

                  </tbody>
                </table>
                <div class="col-md-12 center text-center">
                  <ul class="pagination" id="myPager">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- star mode -->
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            <h4 class="modal-title" id="exampleModalLabel">Câu Hỏi:</h4>
          </div>
          <form class="form-horizontal form-material" action="" method="">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 ml-auto">
                    <div class="form-group">
                      <textarea class="form-control" id="textarea" rows="8">Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần. Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần. Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần.</textarea>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">A &nbsp;&nbsp;<i class="fa  fa-check fa-fw" aria-hidden="true"></i></label>
                      <div class="col-md-12">
                        <input type="text" id="A" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="example-email" class="col-md-12">B</label>
                      <div class="col-md-12">
                        <input type="text" id="B" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">C</label>
                      <div class="col-md-12">
                        <input type="text" id="C" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">D</label>
                      <div class="col-md-12">
                        <input type="text" id="D" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Thoát</button> -->
              <button type="button" class="btn btn-danger">Xóa Câu Hỏi</button>
              <button type="button" class="btn btn-warning" onclick="disableTxt()">Sửa Câu Hỏi</button>
              <button type="submit" id="update" class="btn btn-info">Cập nhật </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="themcauhoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            <h4 class="modal-title" id="exampleModalLabel">Câu Hỏi:</h4>
          </div>
          <form class="form-horizontal form-material" method="post">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 ml-auto">
                    <div class="form-group">
                      <textarea class="form-control" rows="8" name="cauhoi" placeholder="Nhập câu hỏi..."></textarea>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">A &nbsp;&nbsp;
                            <input type="radio" name="dapandung" value="1" > <span class="label-text"></span>
                      </label>
                      <div class="col-md-12">
                        <input type="text" id="A" name="dapana" required placeholder="Nhập đáp án câu A..." class="form-control form-control-line"> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">B &nbsp;&nbsp;
                          <input type="radio" name="dapandung" value="2" > <span class="label-text"></span></label>
                      <div class="col-md-12">
                        <input type="text" id="B" name="dapanb" required placeholder="Nhập đáp án câu B..." class="form-control form-control-line"> </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">C &nbsp;&nbsp;
                            <input type="radio" name="dapandung" value="3" > <span class="label-text"></span></label>
                      <div class="col-md-12">
                        <input type="text" id="C" name="dapanc" required placeholder="Nhập đáp án câu C..." class="form-control form-control-line"> </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="col-md-12">D &nbsp;&nbsp;
                            <input type="radio" name="dapandung" value="4" > <span class="label-text"></span></label>
                      <div class="col-md-12">
                        <input type="text" id="D" name="dapand" required placeholder="Nhập đáp án câu D..." class="form-control form-control-line"> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Thoát</button>
              <!-- <button type="button" class="btn btn-danger">Xóa Câu Hỏi</button> -->
              <!-- <button type="button" class="btn btn-warning" onclick="disableTxt()">Sửa Câu Hỏi</button> -->
              <button type="submit" id="update" class="btn btn-info">Lưu câu hỏi </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--   end modal-->
    <script>
      function undisableTxt() {
        document.getElementById("textarea").disabled = true;
        document.getElementById("A").disabled = true;
        document.getElementById("B").disabled = true;
        document.getElementById("C").disabled = true;
        document.getElementById("D").disabled = true;
        document.getElementById("update").disabled = true;
      }
    </script>
    <script>
      function disableTxt() {
        document.getElementById("textarea").disabled = false;
        document.getElementById("A").disabled = false;
        document.getElementById("B").disabled = false;
        document.getElementById("C").disabled = false;
        document.getElementById("D").disabled = false;
        document.getElementById("update").disabled = false;
      }
    </script>
  </main>
  <script>
    $(document).ready(function() {
      // get data json
      $.getJSON('<%= data.json_data%>', function(data) {
        var test_data = '';
        var len = data.length;
        var count = 1;
        $.each(data, function(key, value) {
          test_data += '<tr>';
          test_data += '<td>' + count++ + '</td>';
          test_data += '<td colspan="2">' + value.ndch + '</td>';
          test_data += '</tr>';
        });
        $('#table').append(test_data);

        // pagination
        $('#myTable').pagination({
          pagerSelector: '#myPager',
          activeColor: 'red',
          prevText: 'Prev',
          nextText: 'Next',
          showPrevNext: true,
          hidePageNumbers: false,
          perPage: 15
        });
      });
    });
  </script>

  <footer>
    <% include ../partials/footer %>
  </footer>x

</body>

</html>
