<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
        <% include ../partials/header %>
</header>
<body class="fix-header">
    <main>
    	<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Quản Lý Kỳ Thi</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="../../admin/trangchu">Trang Chủ</a></li>
                            <li class="active">Quản Lý Kỳ Thi</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" onSubmit="return confirmAction()" method="post" enctype="application/x-www-form-urlencoded">
                                <!-- <div class="space10">&nbsp;</div> -->
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label for="kythi">Thêm Kỳ Thi</label>
                                        <input type="text" id="kythi" name="kythi" placeholder="Nhập tên kỳ thi" class="form-control form-control-line" id="nametest"  autofocus required oninvalid="this.setCustomValidity('Chưa nhập tên kỳ thi')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label for="chude">Chủ Đề Thi</label>
                                        <select class="form-control" id="chude" name="chude" oninvalid="this.setCustomValidity('Chưa chọn chủ đề thi')" oninput="setCustomValidity('')">
                                            <option>-- Chọn chủ đề thi --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <label for="stardate">Ngày bắt đầu</label>
                                        <div class="col-10">
                                            <input class="form-control" id="stardate"  name="stardate" type="datetime-local"  autofocus required oninvalid="this.setCustomValidity('Chưa chọn ngày bắt đầu thi')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="enddate">Ngày kết thúc</label>
                                        <div class="col-10">
                                            <input class="form-control" id="enddate" name="enddate" type="datetime-local"  autofocus required oninvalid="this.setCustomValidity('Chưa chọn ngày kết thúc thi')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="timeline">Thời gian làm bài</label>
                                        <input type="number" name="time" min="1" placeholder="Nhập số phút"  class="form-control form-control-line" id="timeline"  autofocus required oninvalid="this.setCustomValidity('Chưa nhập thời gian làm bài')" oninput="setCustomValidity('')">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-md-12">&nbsp;</label>
                                        <button type="submit" class="btn btn-info">&nbsp;&nbsp;Thêm Kỳ Thi&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table class="search table table-hover" id="table">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên kỳ thi</th>
                                            <th>Số câu hỏi</th>
                                            <th>Chủ đề</th>
                                            <th>Thời gian</th>
                                            <th>Nhân viên thi</th>
                                            <th>Xem chi tiết</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <!-- <tr>
                                            <td>1</td>
                                            <td>Deshmukh  </td>
                                            <td>121</td>
                                            <td>10:10</td>
                                            <td><a href="quanlykythinhanvien">Xem Chi Tiết</a></td>
                                            <td><a href="quanlykythichitiet">Xem Chi Tiết</a></td>
                                            <td><a href="#" class="colordelete">Xóa</a></td>
                                        </tr> -->

                                    </tbody>
                                </table>
                                <div class="col-md-12 center text-center">
                                  <ul class="pagination" id="myPager">
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
        </div>
    </main>
    <script>
      $(document).ready(function() {
        // get data json
        $.getJSON('<%= data.json_data_kythi%>', function(data) {
          var test_data = '';
          var count = 1;
          $.each(data, function(key, value) {
            test_data += '<tr>';
            test_data += '<td>' + count++ + '</td>';
            test_data += '<td>' + value.tenkt + '</td>';
            test_data += '<td>' + value.socauhoi + '</td>';
            test_data += '<td>' + value.tencd + '</td>';
            test_data += '<td>' + value.tg + ' phút</td>';
            test_data += '<td><form method="post" enctype="application/x-www-form-urlencoded" action="/admin/quanlykythi/quanlykythi_nhanvien"><input name="idcd" value="' + value.idcd +
              '" hidden><input name="idkt" value="' + value.idkt +
              '" hidden><input name="tenkt" value="' + value.tenkt +
              '" hidden><button type="submit" class="buttonA ">Thêm nhân viên</button></form></td>';
            test_data += '<td><form method="post" enctype="application/x-www-form-urlencoded" action="/admin/quanlykythi/quanlykythi_xemchitiet"><input name="idcd" value="' + value.idcd +
              '" hidden><input name="tenkt" value="' + value.tenkt +
              '" hidden><input name="idkt" value="' + value.idkt +
              '" hidden><button type="submit" class="buttonA ">Xem chi tiết</button></form></td>';
            test_data += '<td><a href="../admin/quanlykythi/xoa/'+ value.idkt +'" onclick="return confirmAction()" class="colordelete">Xóa</a></td>';
            test_data += '</tr>';
          });
          $('#table').append(test_data);

          // pagination
          $('#myTable').pagination({
            pagerSelector: '#myPager',
            activeColor: 'red',
            prevText: 'Prev',
            nextText: 'Next',
            showPrevNext: true,
            hidePageNumbers: false,
            perPage: 15
          });
        });
      });
    </script>

    <script>
      var json_data_chude = decodeURIComponent('<%= data.json_data_chude%>');
      $.getJSON(json_data_chude, function(data) {
        var html = '';
        var len = data.length;
        for (var i = 0; i < len; i++) {
          html += '<option value="'+data[i].idcd+'">' + data[i].tencd + '</option>';
          // html += '<option hidden value="' + data[i].idnv + '" ></option>';
        }
        $('#chude').append(html);
      });
    </script>





    <footer>
        <% include ../partials/footer %>
    </footer>

    <script>
      var date = new Date();
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();
      if (month < 10) month = "0" + month;
      if (day < 10) day = "0" + day;
      var today = year + "-" + month + "-" + day;
      document.getElementById("stardate").min = today+'T00:00';
      // document.getElementById("stardate").value = today;
      // document.getElementById("enddate").value = today;
      document.getElementById("enddate").min = today+'T00:00';
    </script>

</body>
</html>
