<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>


</header>

<body class="fix-header">

  <main>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Chủ đề thi</h4> </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="index">Trang Chủ</a></li>
              <li class="active">Chủ đề thi</li>
            </ol>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="white-box">
              <form class="form-horizontal form-material" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                  <label class="col-md-12">Thêm Chủ Đề Thi</label>
                  <div class="col-md-10">
                    <input type="text" name="chude" required placeholder="Nhập tên chủ đề thi" class="form-control form-control-line">
                  </div>
                  <div class="col-sm-2">
                    <button class="btn btn-info">&nbsp;&nbsp;Thêm&nbsp;&nbsp;</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="white-box">
              <div class="table-responsive">
                <table class="search table table-hover" id="table">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Tên chủ đề thi</th>
                      <th>Số lượng câu hỏi</th>
                      <th>Thêm câu hỏi</th>
                      <th>Xem chi tiết</th>
                      <th>Xóa</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">

                  </tbody>
                </table>
                <div class="col-md-12 center text-center">
                  <ul class="pagination" id="myPager">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="kythi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title" id="exampleModalLabel">Kỳ thi: Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh</h4>
              </div>
              <form class="form-horizontal form-material" action="" method="">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-12 ml-auto">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Chọn chủ đề</label>
                          <select class="form-control " id="exampleFormControlSelect1">
                                                        <option value="1">Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh</option>
                                                        <option value="2">Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh</option>
                                                        <option value="3">Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh</option>
                                                        <option value="4">Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh</option>
                                                        <option value="5">Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh Deshmukh</option>
                                                    </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th> Câu Hỏi</th>
                                <th>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" name="checkall" id="checkAll">
                                    <label for="checkAll"></label>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td onclick="undisableTxt()" data-toggle="modal" data-target="#exampleModal">Anh/Chị được giảng viên giải thích rõ ràng và đầy đủ về mục tiêu học phần, nội dung học phần, phương pháp giảng dạy và học tập học phần, và cách thức đánh giá học phần.</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td data-toggle="modal" data-target="#exampleModal">Anh/Chị vui lòng đánh dấu vào các nội dung mà giảng viên đã giải thích rõ ràng (có thể chọn một hoặc nhiều nội dung)</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td data-toggle="modal" data-target="#exampleModal">Anh/Chị có thể cho biết tỷ lệ hoàn thành số tiết giảng dạy của giảng viên căn cứ theo thời khóa biểu đã công bố</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td data-toggle="modal" data-target="#exampleModal">Giảng viên giảng dạy đúng theo đề cương học phần và thời khóa biểu (thời gian, phòng học) đã công bố</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td data-toggle="modal" data-target="#exampleModal">Anh/Chị được giảng viên thông tin phản hồi và giải thích rõ ràng nội dung và kết quả đánh giá (bài kiểm tra, thi giữa/cuối kỳ)</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td data-toggle="modal" data-target="#exampleModal">Anh/Chị vui lòng đánh dấu vào các nguồn tài liệu mà giảng viên đã giới thiệu/cung cấp cho anh/chị trong quá trình học học phần này (có thể chọn một hoặc nhiều nội dung):</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td data-toggle="modal" data-target="#exampleModal">Anh/Chị vui lòng đánh dấu vào các nguồn tài liệu mà giảng viên đã giới thiệu/cung cấp cho anh/chị trong quá trình học học phần này (có thể chọn một hoặc nhiều nội dung):</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>Anh/Chị vui lòng đánh dấu vào các nguồn tài liệu mà giảng viên đã giới thiệu/cung cấp cho anh/chị trong quá trình học học phần này (có thể chọn một hoặc nhiều nội dung):</td>
                                <td>
                                  <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="checkItem" name="inputCheckboxesSchedule">
                                    <label for="checkItem"> </label>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger">Hủy</button>
                  <button type="submit" id="update" class="btn btn-info">Thêm </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
    </div>

  </main>
  <script>
    $(document).ready(function() {
      // get data json
      var json_data = decodeURIComponent('<%= data.json_data%>');
      $.getJSON(json_data, function(data) {
        var test_data = '';
        var len = data.length;
        var count = 1;
        $.each(data, function(key, value) {
          test_data += '<tr>';
          test_data += '<td>' + count++ + '</td>';
          test_data += '<td>' + value.tencd + '</td>';
          test_data += '<td>' + value.socauhoi + '</td>';
          test_data += '<td><form method="post" enctype="application/x-www-form-urlencoded" action="/admin/taobodethi/taobodethi_themcauhoi"><input name="idcd" value="' + value.idcd +
            '" hidden><button type="submit" class="buttonA btn btn-outline-warning">Xem câu hỏi</button></form></td>';
          test_data += '<td><form method="post" enctype="application/x-www-form-urlencoded" action="/admin/taobodethi/taobodethi_xemchitiet"><input name="idcd" value="' + value.idcd +
            '" hidden><input name="tencd" value="' + value.tencd +
            '" hidden><button type="submit" class="buttonA btn btn-outline-warning">Xem chi tiết</button></form></td>';
          test_data += '<td><a href="../admin/taobodethi/xoa/'+ value.idcd +'" class="colordelete">Xóa</a></td>';
          test_data += '</tr>';
        });
        $('#table').append(test_data);

        // pagination
        $('#myTable').pagination({
          pagerSelector: '#myPager',
          activeColor: 'red',
          prevText: 'Prev',
          nextText: 'Next',
          showPrevNext: true,
          hidePageNumbers: false,
          perPage: 15
        });
      });
    });
  </script>



  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
