<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="fix-header">
  <main>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Trang Chủ</h4> </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="#">Trang Chủ</a></li>
            </ol>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- ============================================================== -->
        <!-- Different data widgets -->
        <!-- ============================================================== -->
        <!-- .row -->
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
              <h3 class="box-title">Total Visit</h3>
              <ul class="list-inline two-part">
                <li>
                  <div id="sparklinedash"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">6059</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
              <h3 class="box-title">Total Page Views</h3>
              <ul class="list-inline two-part">
                <li>
                  <div id="sparklinedash2"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">8609</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
              <h3 class="box-title">Unique Visitor</h3>
              <ul class="list-inline two-part">
                <li>
                  <div id="sparklinedash3"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">9111</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.row -->
        <!--row -->
        <!-- /.row -->
        <!-- <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
              <h3 class="box-title">Thống kê các kỳ thi</h3>

              <canvas id="line-chart" width="800" height="450"></canvas>

            </div>
          </div>
        </div> -->
        <!-- ============================================================== -->
        <!-- table -->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
              <!-- <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                <select class="form-control pull-right row b-none">
                                    <option>March 2017</option>
                                    <option>April 2017</option>
                                    <option>May 2017</option>
                                    <option>June 2017</option>
                                    <option>July 2017</option>
                                </select>
              </div> -->
              <h3 class="box-title">Chất lượng kỳ thi</h3>
              <div class=" table-responsive">
                <table class="search table" id="table">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Kỳ thi</th>
                      <th>Chủ đề</th>
                      <th>Số câu</th>
                      <th>Thời gian thi</th>
                      <th>Điểm trung bình</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <!-- <tr>
                      <td>1</td>
                      <td class="txt-oflo">Elite admin</td>
                      <td>SALE</td>
                      <td class="txt-oflo">April 18, 2017</td>
                      <td><span class="text-success">24%</span></td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- chat-listing & recent comments -->
        <!-- ============================================================== -->

      </div>
      <!-- /.container-fluid -->

    </div>
  </main>
  <script type="text/javascript">
    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: ["Ngày 21/1", "Ngày 03/2", "Ngày 28/3", "Ngày 12/4", "Ngày 15/5", "Ngày 09/6", "Ngày 04/7", "Ngày 14/8", "Ngày 10/9", "Ngày 05/10", "Ngày 01/11", "Ngày 18/12"],
        datasets: [{
          data: [86, 114, 6, 16, 10, 11, 13, 22, 78, 24, 32, 4],
          label: "Phòng ban 1",
          borderColor: "#3e95cd",
          fill: false
        }, {
          data: [28, 50, 41, 52, 65, 89, 47, 140, 30, 67, 39, 54],
          label: "Phòng ban 2",
          borderColor: "#8e5ea2",
          fill: false
        }, {
          data: [168, 170, 178, 190, 203, 26, 48, 57, 75, 34, 10, 54],
          label: "Phòng ban 3",
          borderColor: "#3cba9f",
          fill: false
        }, {
          data: [40, 20, 10, 16, 24, 38, 74, 167, 58, 74, 32, 54],
          label: "Phòng ban 4",
          borderColor: "#e8c3b9",
          fill: false
        }]
      },
      options: {

      }
    });
  </script>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <script>
    $(document).ready(function() {
      // url+LSThi?idkt=idkt
      // get data json
      $.getJSON('<%= data.json_data_kythi%>', function(data) {
        var test_data = '';
        var count = 1;
        $.each(data, function(key, value) {
          if (value.stat == 0) {
            test_data += '<tr>';
            test_data += '<td>' + count++ + '</td>';
            test_data += '<td class="txt-oflo">' + value.tenkt + '</td>';
            test_data += '<td class="txt-oflo">' + value.tencd + '</td>';
            test_data += '<td>' + value.socauhoi + '</td>';
            test_data += '<td>' + value.tg + ' phút</td>';
            if (value.diemtb != 'NaN') {
              if (parseFloat(value.diemtb) >= 8) {
                test_data += '<td><span class="text-info">' + value.diemtb + '</span></td>';
              } else if (parseFloat(value.diemtb) >= 5) {
                test_data += '<td><span class="text-success">' + value.diemtb + '</span></td>';
              } else if (parseFloat(value.diemtb) == 0) {
                test_data += '<td><span class="text-danger">0</span></td>';
              } else {
                test_data += '<td><span class="text-warning">' + value.diemtb + '</span></td>';
              }
            } else {
              test_data += '<td><span class="text-danger">0</span></td>';
            }

            test_data += '</tr>';
          }
        });
        $('#table').append(test_data);

        // pagination
        $('#myTable').paginathing({
          pagerSelector: '#myPager',
          activeColor: 'Blue',
          prevText: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
          nextText: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
          insertAfter: '#table',
          showPrevNext: true,
          limitPagination: 5,
          hidePageNumbers: false,
          perPage: 10
        });
      });
    });
  </script>


</body>



</html>
