<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="../../plugins/images/quizmobifones.png">
<title>Trắc Nghiệm Mobifone</title>
<!-- Bootstrap Core CSS -->
<link href="../../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Menu CSS -->
<link href="../../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
<!-- toast CSS -->
<link href="../../plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
<!-- morris CSS -->
<link href="../../plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
<!-- chartist CSS -->
<link href="../../plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
<link href="../../plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<!-- animation CSS -->
<link href="../../css/animate.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="../../css/style.css" rel="stylesheet">
<link href="../../css/CssAll.css" rel="stylesheet">
<link rel="stylesheet" href="../../css/thi.css">
<!-- color CSS -->
<link href="../../css/colors/default.css" id="theme" rel="stylesheet">
<link rel="stylesheet" href="../../css/home.css">
<!-- <link rel="stylesheet" href="../../css/copytext.css"> //
<script language='JavaScript' src="../../js/copytext.js"> </script> -->

<!-- <script src="../js/countdownTimer.js"></script> -->



<script language="JavaScript">
    function confirmAction() {
        return confirm("Bạn đã chắc chắn điều này?")
    }
</script>
<link rel="stylesheet" type="text/css" href="../../css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../lib_datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../sweetalert/sweetalert.css">
<link rel="stylesheet" href="../../iziToast/dist/css/iziToast.min.css">


